
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	font-family: 'Quattrocento', Serif;
	font-size: 16px;
}

header  {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	font-family: 'Oswald', Sans-Serif;
}

nav {
	text-align: center;
	margin-left: 10px;
}

nav ul {
	list-style: none;
}

nav ul li {
	text-transform: uppercase;
	float: left;
	padding: 40px;
	
}

nav ul a li {
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li:hover {
	border-bottom: 3px solid red;
}

@media (max-width: 800px) {

}

@media (max-width: 500px) {
	nav ul {
		font-size: 12px;
	}
}

#hero {
	background: url('../img/web.jpeg') fixed;
	background-size: cover;
	height: 100vh;
	color: #fff;
}

#to_top {
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

#to_top a {
	text-decoration: none;
	color: black;
}

.intro {
	padding-top: 310px;
}

.intro h1 {
	font-size: 65px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Oswald', Sans-Serif;
}

.intro h2 {
	text-align: center;
	font-size: 44px;
	font-family: 'Oswald', Sans-Serif;
}

@media (max-width: 800px) {

}

@media (max-width: 500px) {

	.intro h1 {
		font-size: 45px;
	}
	.intro h2 {
		font-size: 20px;
	}
}

.section-title {
	text-transform: uppercase;
}

#about {
	background: white;
	background-size: cover;
	margin: 10px 20px;
	padding: 100px 200px;
}

.one h2 {
	font-family: 'Oswald', Serif;
	font-size: 40px;
	margin-bottom: 100px;
}

.one h3 {
	font-family: 'Oswald', Serif;
	font-size: 30px;
	margin: 20px 0;
}

.one p {
	line-height: 2;
	font-size: 20px;
	margin-bottom: 20px;
}

.one .imageContain {
	width: 100%;
	text-align: center;
}

.one .imageContain img {
	width: 30%;
	margin: 30px;
	border: 10px solid lightgray;
}

#on_left {
	text-align: center;
}

@media (max-width: 800px) {
	#about {
		padding: 50px 100px;
	}
}

@media (max-width: 500px) {
	#about {
		padding: 50px 10px;	
	}
	.one .imageContain img {
		width: 75%;
		margin: 10px;
	}
}

.two {
	background: linear-gradient(to bottom, gray, transparent), url('../img/two_background6.jpeg') fixed;
	background-size: cover;
}

.two_p {
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size: 4em;
	padding: 50px 0 50px;
	font-family: 'Oswald', Sans-Serif;
}

#showContainer {
	width: 70%;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 20px;
	padding-bottom: 50px;
}

#showContainer a {
	text-decoration: none;
	color: #fff;
	font-family: 'Oswald', Sans-Serif;
	font-size: 35px;
	
}

#showContainer .caption {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px; 
	border-radius: 2px;
}

#showContainer .imageContainer .slide_img {
	max-height: 700px;
}

.navButton {
	cursor: pointer;
	float: left;
	width: 110px;
	height: 20px;
	padding: 10px;
	margin-right: 5px;
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	background: #000000;
	opacity: 0.65;
	user-select: none;
}

.navButton:hover {
	opacity: 1;
}

.caption {
	float: right;
}

.imageContainer:not(:first-child) {
	display: none;
}

.slide_img {
	width: 100%;
}

@media (max-width: 800px) {
	.two_p {
		font-size: 3em;
	}
	.navButton {
		width: 50px;
		height: 15px;
	}
}

@media (max-width: 500px) {
	.two_p {
		font-size: 2em;
		padding: 20px 0 5px;
	}
	#showContainer {
		width: 95%;
	}
}

#contact {
	background-color: white;
	margin-bottom: 100px;
}

.three .form_heading {
	font-family: 'Oswald', Serif;
	text-align: center;
	margin-top: 50px;
	font-size: 2.5em;
	width: 100%;
}

form {
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 20px;
}

input, textarea {
	font-family: 'Quattrocento', Serif;
	background: #f2f2f2;
    padding: 10px;
    font-size: 25px;
	width: 90%;
	margin-top: 30px;
	border-radius: 5px;
    border-bottom-right-radius: 0;
    border: none;
}

textarea {
	border: none;
}

.submit_button {
	font-family: 'Oswald', Sans-Serif;
	text-transform: uppercase;
	background: #9999ff;
	color: white;
	width: 50%;
    padding: 30px;
}

.submit_button:hover {
	background: #e6e6ff;
	color: #000;
	box-shadow: 2px 2px 10px #000;
	transition: all 1s;
}

@media (max-width: 800px) {
	form {
		padding: 20px;
	}
}

@media (max-width: 500px) {
	#contact {
		width: 100%;
	}
	.three .form_heading {
		margin-left: 0px;
		text-align: center;
	}
	textarea {
		height: 100px;
	}
}

footer {
	background: gray;
	margin-top: 0;
	color: white;
}

footer h2 {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.footer_imgs {
	text-align: center;
}

footer img {
	width: 40px;
	margin: 10px;
}
